* {
  margin: 0;
}

.navbar {
  background-color: antiquewhite;
  position: fixed;
  height: 100%;
  min-width: 180px;
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.links a {
  text-decoration: none;
}

.home {
  float: right;
  background-color: orange;
  width: calc(100% - 180px);
}

.contacts {
  float: right;
  width: calc(100% - 180px);
  display: flex;
}

.contactCard {
  border: 1px solid lightgrey;
  padding: 10px;
  display: flex;
  align-items: center;
}


.contactCard:hover {
  background-color: darkgoldenrod;
}